#AuthUserFile ~/.htpasswd
#AuthName "Sekretna strona"
#AuthType Basic
#require valid-user

#SetEnv APPLICATION_ENV "development"
#SetEnv BASE_URL "/"

#RewriteEngine On
#RewriteBase "/"

#RewriteCond %{HTTP_HOST} !^www. [NC]
#RewriteRule ^(.*)$ http://www.poradnikpiwny.local/$1 [L,R=301]

#RewriteRule ^\.htaccess$ - [F]

#RewriteCond %{REQUEST_URI} =""
#RewriteRule ^.*$ /public/index.php [NC,L]

#RewriteCond %{REQUEST_URI} !^/public/.*$
#RewriteRule ^(.*)$ /public/$1

#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^.*$ - [NC,L]

#RewriteRule ^public/.*$ /public/index.php [NC,L]
